.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___img {
  height: 400px;
  margin-bottom: 5px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___info {
  font-size: 24px;
  color: #cbe4f8;
}
